@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* =================
        Generic 
    ================= */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --text-color: #121212;
    --button-color: #E4C1AE;
    --primary-color: #FFFFFF;
    --black-color: #000000;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

img{
    width: 100%;
}

.title{
    font-size: 42px;
    color: var(--text-color);
}

.para{
    margin: 24px 0 32px 0;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    line-height: 150%;   
}

.btn{
    padding: 16px 40px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover{
    transform: scale(1.1);
}

.btn:active{
    transform: scale(0.9);
}

.bold{
    font-weight: 600;
}

/* =================
      LandingPage
   ================= */

.landing-page--wrapper {
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.landing-page__image--wrapper{
    display: flex;
    max-width: 505px;
    max-height: 330px;
}

.landing-page__content--wrapper{
    max-width: 380px;
    max-height: 250px;
    margin-left: 95px;
    align-self: center;
}

/* =================
         Modal
   ================= */
.modal{
    padding: 56px 96px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 920px;
    min-height: 210px;
    background-color: var(--primary-color);
    transition: all 400ms ease;
}

.open-modal{
    z-index: 1;
    visibility: visible;
    opacity: 1;
}

.modal-text{
    margin: 24px 0;
    font-size: 16px;
    font-weight: 300;
}

.modal__close-icon{
    position: absolute;
    top: 46px;
    right: 46px;
    border: none;
    background-color: transparent;
    color: var(--black-color);
    font-weight: 700;
    font-size: 18px;
}

.btn-reset{
    display: none;
    visibility: hidden;
    opacity: 0;
    padding: 16px 40px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 32px;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn-reset:hover{
    transform: scale(1.1);
}

.btn-reset:active{
    transform: scale(0.9);
}

.modal--background{
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 400ms ease;
}

.modal--background-visible{
    display: block;
    visibility: visible;
    opacity: 0.5;
}

.visible{
    display: block;
    visibility: visible;
    opacity: 1;
}

/* =================
      MediaQueries
   ================= */

@media (max-width: 1024px) {
    .container{
        padding: 0 16px;
    }

    .title{
        font-size: 38px;
    }

    .para{
        margin: 12px 0 20px 0;
    }

    .landing-page__content--wrapper{
        margin-left: 24px;
    }

    .modal{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 0 16px;
    }

    .landing-page--wrapper{
        flex-direction: column;
    }

    .title{
        text-align: center;
        font-size: 38px;
    }

    .para{
        margin: 12px 0 20px 0;
        text-align: center;
    }

    .landing-page__image--wrapper{
        margin: 0 auto;
    }

    .landing-page__content--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 24px 0 0 0;
    }

    .btn{
        align-self: center;
    }

    .modal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        text-align: center;
    }

    .modal__close-icon{
        top: 30px;
        right: 30px;
    }
}

@media (max-width: 425px) {
    .title{
        font-size: 32px;
    }

    .modal{
        width: 90%;
        padding: 20px;
    }

    .modal__close-icon{
        top: 20px;
        right: 20px;
    }
}